<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GhostTrace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

  <div class="container py-5">
    <div class="text-center mb-4">
      <h1 class="display-4">GhostTrace</h1>
      <p class="lead">Temporal Provenance Tracker for AI-Generated Content</p>
      <a href="{{ url_for('main.clipboard') }}" class="btn btn-secondary">
        View Clipboard Log
      </a>
    </div>

    <form action="/" method="post" enctype="multipart/form-data" class="border p-4 bg-white shadow-sm rounded">
      <div class="mb-3">
        <label for="formFile" class="form-label">Select Files</label>
        <input class="form-control" type="file" name="files" id="formFile" multiple required>
      </div>
      <button type="submit" class="btn btn-primary">Upload & Analyze</button>
    </form>

    {% if uploaded %}
      <div class="mt-5">
        <h3>Files Uploaded:</h3>
        <ul class="list-group">
          {% for file in files %}
          <li class="list-group-item">{{ file }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

        {% if extracted %}
          <div class="mt-5">
            <h3>Extracted Content:</h3>
            {% for filename, chunks in extracted.items() %}
              <div class="class my-3">
                <div class="card-header bg-dark text-white">
                  {{ filename }}
                </div>
                <div class="card-body">
                  {% for chunk in chunks %}
                    <pre class="mb-2">{{ chunk.text }}</pre>
                    <p><strong>Status:</strong>
                      {% if chunk.status == "New" %}
                        <span class="badge bg-success">New</span>
                      {% else %}
                        <span class="badge bg-warning text-bg-danger">Reused</span>
                      {% endif %}
                    </p>
                    <p><strong>SHA256:</strong> {{ chunk.hash }}</p>
                    <p><strong>Embedding:</strong> {{ chunk.embedding[:5] }}... ({{ chunk.embedding|length }} dims)</p>
                    <hr>
                  </div>
                {% endfor %}
               </div>
              </div>
            {% endfor %}
          {% endif %}


  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
